- title "Riverrun"

.panel
  %p= t('.intro1')
  %p= t('.intro2')
  %p= t('.intro3')

.panel

  %p
    = t('.no_account')
    = link_to t('.signup'), signup_path

  - form_tag sessions_path do
    %p
      = label_tag :login, t('.email')
      = text_field_tag :login, params[:login], :class => 'short'
    %p
      = label_tag :password
      = password_field_tag :password, '', :class => 'short'
    %p
      = submit_tag t('.send')

.clear

.cosa{ :style => "text-align: center; font-family:Georgia; margin-top:30px; font-size:16px; font-style:italic; font-weight: bold; color: #999" }
  = "... a way a lone a last a loved a long the riverrun, past Eve and Adam's ..."
