- form_for @work do |f|
  = f.error_messages
  %p
    = f.label :name, t('.name')
    = f.text_field :name
  %p
    = f.label :visibility_radio, t('.visibility_radius')
    = f.text_field :visibility_radio
  %p.inline
    = f.check_box :cyclic
    = f.label :cyclic, t('.cyclic')
    
  - if @work.new_record?
    %p
      = f.label :number_of_pieces, t('.lines')
      = f.text_field :number_of_pieces
  %p
    = f.submit t('.submit')
