- form_for @work do |f|
  = f.error_messages
  %p
    = f.label :name
    = f.text_field :name
  - if @work.new_record?
    %p
      = f.label :number_of_pieces
      = f.text_field :number_of_pieces
  %p
    = f.submit "Submit"
