- title t('.title', :work => @work.name)

%table#change_log
  - @change_log.each do |piece|
    - next if !piece.user_id and !piece.text
    %tr
      %td.contents.time= piece.updated_at.strftime("%m-%d-%H:%M")
      %td.contents= piece.user_id ? User.find(piece.user_id).username : t('.unassigned')
      %td.contents= "Pos##{piece.position}"
      %td= piece.text
      
%p.actions
  = link_to "Back to Work View", work_path(@work)
  - if @work.can_edit? current_user
    = link_to "Edit", edit_work_path(@work)
  - if @work.can_delete? current_user
    = link_to "Destroy", @work, :confirm => 'Are you sure?', :method => :delete
  = link_to "View All Works", works_path

%h2= t('.step_by_step')
- @change_log.each do |piece|
  = draw_work_until_version piece
