- title "#{t('.work')}: #{@work.name}"

- if @work.can_edit? current_user
  - unless @work.completed_at
    %p
      = t('.work_is_active')
      = link_to t('.stop_it'), stop_work_path(@work)
      = t('.to_conclude')

  %table#work_show
    - for piece in @work.pieces
      %tr
        %td.piece{ :id => piece.id }
          = piece.text || t('.empty')
        %td.contents#ago
          = piece.text ? time_ago_in_words(piece.updated_at) : ''
        %td.contents#author
          = piece.user ? piece.user.username : t('.unassigned')
        %td.actions
          - if piece.can_edit? current_user
            = link_to t('.edit'), edit_work_piece_path(@work, piece)

  %p.actions
    = link_to t('.changelog'), changelog_work_path(@work)
    - if @work.can_edit? current_user
      = link_to t('.edit'), edit_work_path(@work)
    - if @work.can_delete? current_user
      = link_to t('.destroy'), @work, :confirm => t('.confirm'), :method => :delete
    = link_to t('.view_all'), works_path

- elsif @unassigned_pieces.size > 0
  %p= t('.explain1')
  %p= t('.explain2')
  %p= t('.explain3')
  %p= t('.explain4')    
  %p= link_to t('.start'), edit_work_piece_path(@work, @unassigned_pieces.rand)

- else
  %p= t('.complete')