- title t('.signup')

%p 
  = t('.already')
  = link_to t('.login'), login_path

- form_for @user do |f|
  = f.error_messages
  %p
    = f.label :username
    = f.text_field :username, :class => 'short'
  %p
    = f.label :email
    = f.text_field :email, :class => 'short'
  %p
    = f.label :password, t('.password')
    = f.password_field :password, :class => 'short'
  %p
    = f.label :password_confirmation, t('.confirm_password')
    = f.password_field :password_confirmation, :class => 'short'
  %p
    = f.submit t('.signup')