- title t('.title')

- if @piece.user == current_user
  = t('.yours')
- else
  = t('.admin_edit')

- form_for @piece, :url => work_piece_path(@work, @piece), :method => :put do |f|
  = f.error_messages

  - (1..@work.visibility_radio).to_a.reverse.each do |n|
    - if piece = @piece.previous(n)
      %p= text_field_tag :"prev_#{n}", piece.text, :disabled => true, :id => piece.id

  %p= f.text_field :text

  - (1..@work.visibility_radio).each do |n|
    - if piece = @piece.next(n)
      %p= text_field_tag :"next_#{n}", piece.text, :disabled => true, :id => piece.id

  %p= f.submit t('.submit')

%p.actions
  - if @work.can_edit? current_user
    = link_to t('.edit'), edit_work_path(@work)
  - if @work.can_delete? current_user
    = link_to t('.destroy'), @work, :confirm => t('.confirm'), :method => :delete
  = link_to t('.back'), work_path(@work)
  = link_to t('.listing'), works_path
